.about {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 90%;
    margin: auto;
}

.abt-img img {
    width: 35vw;
    animation: profile-anime 8s ease-in-out infinite 1s;
}

.abt-title {
    text-align: center;
    font-size: 3rem;
    color: var(--main-color);
}

.abt-desc {
    font-size: 1.2rem;
}

.abt-btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--second-main);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--text-color);
    margin-bottom: 2rem;
}

.abt-btn:hover {
    box-shadow: none;
}

@media (max-width: 768px) {
    section {
        padding: 0;
    }

    .about {
        flex-direction: column;
    }

    .abt-img img {
        width: 60vw;
    }

    .abt-desc {
        font-size: 1rem;
    }

    .abt-btn {
        font-size: 1.2rem;
    }
}