.app-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:  5rem;
  gap: 3rem;
}

.home-socials {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-socials a {
  color: black;
}

.home-socials a:hover {
  cursor: pointer;
  color: aquamarine;
}

.content {
  max-width: 40%;
}

.car-cont {
  max-width: 40%;
   background: url('../images/img1.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   justify-content: center;
   order: 1;
   width: 300px;
   height: 300px;
   box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
  }