.app-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:  5rem;
  gap: 3rem;
}

.home-socials {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-socials a {
  color: black;
}

.home-socials a:hover {
  cursor: pointer;
  color: aquamarine;
}

.content {
  max-width: 30%;
}

.content h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #001638;
}

.car-cont {
  max-width: 40%;
   background: url('../images/img1.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   justify-content: center;
   order: 1;
   width: 300px;
   height: 300px;
   box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
   animation: profile-anime 8s ease-in-out infinite 1s;
  }

  @keyframes profile-anime {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

  .home-btn {
    background-color: #001638;
    color: #fff;
    border: none;
    padding: 0.8rem;
    border-radius: 15px;
  }

  .icon-home {
    margin-left: 10px;
  }

  @media (max-width: 992px) {
    .content {
      max-width: 40%;
    }

    .content h1 {
      font-size: 2.5rem;
    }

    .car-cont {
      width: 250px;
      height: 250px;
    }
  }

  @media (max-width: 768px) {
    .app-home {
      display: grid;
      grid-template-columns: 0.5fr 3fr;
      padding-top: 3.5rem;
    }

    .car-cont {
      order: initial;
      align-self: center;
      box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
      height: 200px;
    }

    .content {
      grid-column: 1/3;
     max-width: 100%;
     padding: 1rem;
    }

    .content h1 {
      text-align: left;
    }

    .home-socials {
      margin-left: 2rem;
    }
  }

  @media (max-width: 450px) {
    .car-cont {
      width: 220px;
      height: 180px;
    }
  }

  @media (max-width: 350px) {
    .car-cont {
      width: 150px;
      height: 150px;
    }

    .content {
      padding: 0.5rem;
    }

    .content h1 {
      font-size: 2rem;
    }
  }