.official-main {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.port-main {
    border: 1px solid var(--second-main);
    padding: 1rem;
    border-radius: 15px;
    margin-top: 2rem;
}

.official-header {
    text-align: center;
    color: var(--main-color);
    font-size: 2.5rem;
}

.port-img {
    width: 80%;
    height: 50%;
    border-radius: 20px;
    margin-top: 1rem;
}

@media (max-width: 750px) {
    .official-main {
        grid-template-columns: repeat(2, 40%);

    }
}

@media (max-width: 500px) {
    .official-main {
        grid-template-columns: repeat(2, 48%);
        gap: 0.5rem;

    }
}