.app-project {
    color: var(--text-color);
}

.proj-title {
    text-align: center;
    color: var(--main-color);
    font-size: 3rem;
}

.main-project {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.proj-img {
    width: 100%;
    transition: 0.5s ease;
}

.project-box:hover img {
    transform: scale(1.2);
}

.project-box .proj-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,  0,  0,  .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.project-box:hover .proj-layer {
    transform: translateY(0);
}

.proj-layer h4 {
    font-size: 2.5rem;
}

.proj-layer p {
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .proj-title {
        margin-bottom: 3rem;
    }

    .project-box {
        margin-bottom: 2rem;
    }

    .main-project {
        grid-template-columns: 95%;
    }
}

@media (max-width:350px) {
    .proj-layer p {
        font-size: 1rem;
    }

    .project-box .proj-layer {
        padding:  0 0.5rem;
    }

    .proj-layer h4 {
        font-size: 1.5rem;
    }
}