.cont {
    display: grid;
    grid-template-rows: 30% 30%;
    grid-template-areas: 
    'image description' 
    ;
    justify-content: center;
    align-items: center;
}

.proj-cont {
    max-width: 80%;
    margin: auto;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.proj-cont-rev {
    max-width: 80%;
    margin: auto;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.proj-title {
    text-align: center;
    margin-bottom: 2rem;
}

.proj-img {
    max-width: 30rem;
    max-height: 20rem;
    margin: auto;
}

.description {
    display: flex;
    align-items: center;
    padding: 2rem;
}

@media (max-width: 500px) {
    .cont {
        display: grid;
        grid-template-rows: 90%;
        grid-template-areas: 
        'image'
        'description' 
        ;
    }

    .img-cont {
        height: 80%;
        width: 90%;
        margin: auto;
    }

    .description {
        padding: 2rem;
        margin: 0;
    }
}