body {
  color: white;
  background-color: black;
}

.car-cont {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

.img-cont {
  width: 500%;
  height: 100%;

  display: flex;
  flex-direction: row;
}

.img-cont > .image {
  width: 20%;
  height: 100%;

  transition: all 1s ease;
}

.img-cont > .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}